certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.12
cryptography==39.0.1
edgegrid-python==1.2.1
et-xmlfile==1.1.0
idna==3.3
ndg-httpsclient==0.5.1
openpyxl==3.0.9
pyasn1==0.4.8
pycparser==2.21
pyOpenSSL==22.0.0
requests==2.27.1
urllib3==1.26.8
